<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Profile</key>
	<array>
		<string></string>
	</array>
	<key>Soocial</key>
	<array/>
	<key>Support</key>
	<array/>
	<key>Category</key>
	<array>
		<string>News</string>
		<string>Events</string>
		<string>Travel</string>
		<string>Sports</string>
		<string>Music</string>
		<string>Arts</string>
		<string>Nightlife</string>
		<string>Entertainment</string>
		<string>Fashion</string>
	</array>
</dict>
</plist>
